// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
#include "windows.h"
/////////////////////////////////////////////////////////////////////////////

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_ICON1               ICON                    "syringe.ico"
/////////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,7,1,1
 PRODUCTVERSION 0,7,1,1
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Patrick Dinklage"
            VALUE "FileDescription", "Syringe Main Executable"
            VALUE "FileVersion", "0, 7, 1, 1"
            VALUE "InternalName", "Syringe"
            VALUE "LegalCopyright", "Copyright © 2008 - 2017 Patrick Dinklage, DCoder, and AlexB"
            VALUE "OriginalFilename", "Syringe.exe"
            VALUE "ProductName", "Syringe"
            VALUE "ProductVersion", "0, 7, 1, 1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
